{%extends 'base.html'%}

{%block content%}

{%load staticfiles%}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>꿀팁페이지입니다.</h1>
            <span class="subheading">사진넣기</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="container">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">화장실위치사진</h1>
  <br>
  <p class="lead">사진넣기</p>
  <br>
</div>
<img src="{%static '--.png'%}">
</div>

{%endblock%}