{% extends 'base.html'%}

{% block content%}

{% load staticfiles%}

<html>

<head>
    <center>
      <img class="image1" src="{% static 'fleemarket.png'%}" style="width: 100%; height: auto;" alt="사진">
    </center>

</head>

<body>
    <div class="ban2 ban" id="ban2">
        {% if user.is_authenticated %}
            <div class="col-lg-8 mx-auto text-center">
                <div class="site-heading">
                    <br><br> <a class="newbtn" href="flea_new/">게시글 작성하기<br><br> </a>
                    <span class="subheading"></span>
                </div>
            </div>
        {%else%}
            <div class="col-lg-8 mx-auto text-center">
                <div class="site-heading">
                    <br><br> <a class="newbtn" href="{%url 'login'%}">로그인하기<br><br> </a>
                    <span class="subheading"></span>
                </div>
            </div>
        {% endif %}
    </div>    

    <div class="container">
        <div class="row">
        {% for flea_market in flea_markets.all%} 
            <div class="col-xs-6 col-lg-4 mx-auto text-center">
                <div class="card h-card">
                    <div class="h-img-wrapper">
                        <img class="card-img-top h-img" src="/media/{{flea_market.image}}"  alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> 제목 : {{flea_market.title}} </h5>
                        <p class="card-text">
                            <p> 날짜 : {{flea_market.pub_date}} </p> 
                            <p> {{flea_market.summary}} </p> 
                            <br>
                        </p>
                        <a href="{% url 'flea_main' %}{{flea_market.id}}" class="btn btn-outline-dark">자세히</a>
                    </div>
                </div>
                <div style="margin: 40px;"></div>
            </div>
        {% endfor%}
        </div>
        <div style="padding:10px;"> </div>
    </div>
</body> 
  
{% endblock%}
